{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  {% assign sum = site.posts | size %}
  <nav class="nav__list">
    <input id="ac-toc" name="accordion-toc" type="checkbox" />
    <label for="ac-toc">{{ site.data.ui-text[site.locale].menu_label }}</label>
    <ul class="nav__items" id="category_tag_menu">
        <!--전체 글 수-->
        <li>
              📂 <span style="font-family:'Cafe24Oneprettynight';">전체 글 수</style> <span style="font-family:'Coming Soon';">{{sum}}</style> <span style="font-family:'Cafe24Oneprettynight';">개</style> 
        </li>
        <li>
          <!--span 태그로 카테고리들을 크게 분류 ex) C/C++/C#-->
          <span class="nav__sub-title">CODING</span>
              <!--ul 태그로 같은 카테고리들 모아둔 페이지들 나열-->
              <ul>
                  <!--Cpp 카테고리 글들을 모아둔 페이지인 /categories/cpp 주소의 글로 링크 연결-->
                  <!--category[1].size 로 해당 카테고리를 가진 글의 개수 표시--> 
                  {% for category in site.categories %}
                      {% if category[0] == "js" %}
                          <li><a href="/categories/js" class="">JS ({{category[1].size}})</a></li>
                      {% endif %}
                  {% endfor %}
              </ul>
              <ul>
                  {% for category in site.categories %}
                      {% if category[0] == "algo" %}
                          <li><a href="/categories/algo" class="">ALGORITHM ({{category[1].size}})</a></li>
                      {% endif %}
                  {% endfor %}
              </ul>
              <ul>
                {% for category in site.categories %}
                    {% if category[0] == "cs" %}
                        <li><a href="/categories/cs" class="">CS ({{category[1].size}})</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
          <span class="nav__sub-title">ETC</span>
              <ul>
                  {% for category in site.categories %}
                      {% if category[0] == "etc" %}
                          <li><a href="/categories/etc" class="">ETC ({{category[1].size}})</a></li>
                      {% endif %}
                  {% endfor %}
              </ul>
        </li>
    </ul>
  </nav>
  </div>
{% endif %}

{% assign sum = site.posts | size %}

